<appSettings>
  <add key="FacebookAppId" value="334858587501456" />
  <add key="FacebookAppSecret" value="4938b184f0718b6ecf82f4a7762feb33" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>